/* Fixes for the HypeUI theme */

/* Add padding, especially for mobile view */

div.elgg-layout-content {
	padding: 1em;
}

/* Fix Event Calendar plugin UI */

div#event_list + div {

	float: none !important;
	margin-bottom: 2em;
}

div#calendarmenucontainer {
	left: 0px;
}

/* Fix modals */

div#colorbox {
        background: white;
        border: 1px solid black;
        padding: 1em;
}

div#cboxContent div.elgg-body {
        overflow: scroll;
}

div#cboxWrapper, div#cboxLoadedContent {
        width: 100%;
}

/* Remove avatar cropping tool */

div#avatar-croppingtool {
        display: none;
}

/* Fix user avatar display on profile page */

p.mtm {
        margin-bottom: 1em;
}

#current-user-avatar {
        border-right: 0px !important;
}

/* Remove duplicate avatar in user administration */

tr.elgg-item-user div.elgg-body div.media-left {
        display: none;
}

/* Remove border and padding in user administration */

tr.elgg-item-user div.elgg-body div.elgg-listing-summary-header {
        border: 0px;
        padding-top: 0px;
}

/* Fixes for the tinymce plugin */

textarea.elgg-input-longtext {
        display: none !important;
}
